DEBUG=true
DJANGO_SECRET_KEY=change-me
ALLOWED_HOSTS=*

DB_ENGINE=django.db.backends.postgresql
DB_NAME=marketplace
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432

FINCRA_BASE_URL=https://sandboxapi.fincra.com
FINCRA_SECRET_KEY=4790fbc12dd64e00bc5c4841711df817
FINCRA_BUSINESS_ID=698b162f08e3ae0012d42db8
FINCRA_PUBLIC_KEY=pk_test_Njk4YjE2MmYwOGUzYWUwMDEyZDQyZGI4OjoxMzgxNzE=
FINCRA_WEBHOOK_SECRET=4790fbc12dd64e00bc5c4841711df817
FINCRA_REDIRECT_URL=https://example.com/redirect
FINCRA_WEBHOOK_PATH=/api/payments/webhooks/fincra/
FINCRA_CHECKOUT_PATH=/checkout/payments
FINCRA_QUOTES_PATH=/quotes/generate
FINCRA_CONVERSIONS_PATH=/conversions/initiate
